# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.require_version ">= 1.6.2"

Vagrant.configure("2") do |config|
  config.vm.box = "windows10"
  config.vm.communicator = "winrm"
  config.vm.provider "virtualbox" do |v, override|
    v.customize ["setextradata", "global", "GUI/SuppressMessages", "all" ]
  end
end
